:root {
    font-family: monospace;
}
body { 
   max-width: 960px;
   margin: 5vw auto;
}
h1 {
    font-size: 10vh;
    margin: 0;
}
p {
    font-size: 3vh;
    padding: 0 0 0 3vw;
    margin: auto 0;
}
.container {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
}