::-webkit-scrollbar {
  width: 7px;
  background: #87CEEB;
  z-index: -2;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  z-index: -2;
}
::-webkit-scrollbar-thumb {
  background: #FF9440;
  border-radius: 10px;
}
body  {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #87CEEB;
}
.stripe_container {
  width: 0;
}
.stripe {
  width: 3rem;
  height: 500rem;
  background-color: #FF9440;
  z-index: -1
}
.stripe_g_1 {
  width: 9rem;
  height: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: fixed;
  top: 10rem;
  left: 30rem;
  transform: rotate(30deg);
  z-index: -1;
}
.stripe_g_2  {
  width: 9rem;
  height: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: fixed;
  top: 20rem;
  left: 70rem;
  transform: rotate(60deg);
  z-index: -1;
}
.stripe_g_3  {
  width: 9rem;
  height: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: fixed;
  top: 20rem;
  left: 130rem;
  transform: rotate(90deg);
  z-index: -1;
}
.body2  {
  width: 60%;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: #FF8320;
}
header {
  display: flex;
  color: #200E00;
  flex-flow: row wrap;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 40px;
  float: left;
  padding: 1rem;
}
nav {
  background-color: #87CEEB;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  border-radius: 10px;
}
ul  {
  list-style-type: none;
  margin: 0;
}
.nav-list {
  display: list-item;
  text-align: -webkit-match-parent;
  float: left;
}
.nav-list a {
  text-decoration: none;
  display: block;
  padding: 2rem;
  color: #200E00;
  font-size: 20px;
  font-family: Helvetica;
  text-transform: uppercase;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 3px;
}
.nav-list a:before {
  content: '';
  width: 150%;
  left: -175%;
  height: 120%;
  top: -10%;
  background: #FF7100;
  position: absolute;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: -1;
}
.nav-list a:hover:before {
  left: -25%;
}
.nav-list-dropdown {
  display: list-item;
  text-align: -webkit-match-parent;
  float: left;
}
button {
  all: unset;
}
.dropbtn  {
  text-decoration: none;
  display: block;
  padding: 2rem;
  color: #200E00;
  font-size: 20px;
  font-family: Helvetica;
  text-transform: uppercase;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 3px;
  border: 0;
}
.dropbtn:before {
  content: '';
  width: 150%;
  left: -175%;
  height: 120%;
  top: -10%;
  background: #FF7100;
  position: absolute;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: -1;
}
.dropbtn:hover:before {
  left: -25%;
}
.dropdown-arkiv {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  overflow: hidden;
  flex-direction: column;
}
.dropdown-animation {
  content: '';
  width: 200%;
  left: -85%;
  height: 120%;
  top: -10%;
  background: #FF7100;
  position: absolute;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1;
}
.dropdown-animation-white {
  float: right;
  width: 50%;
  height: 100%;
  background: #FFFFFF;
}
.move {
  left: 115%;
}
.dropdown-arkiv a {
  text-decoration: none;
  font: 16px;
  color: #200E00;
  font-family: Helvetica;
  text-transform: uppercase;
  padding: 1rem;
  z-index: 0;
}
.show-block {
  display: block;
}
.show-flex {
  display: flex;
}
