::-webkit-scrollbar {
  width: 7px;
  background: #87CEEB;
  z-index: -2;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  z-index: -2;
}
::-webkit-scrollbar-thumb {
  background: #FF9440;
  border-radius: 10px;
}
body  {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #f8f8ff;
}
nav {
  background-color: #1D2951;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
}
header {
  display: flex;
  color: #200E00;
  flex-flow: row wrap;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 40px;
  float: left;
  padding: 1rem;
  color: white
}
ul  {
  list-style-type: none;
  margin: 0;
}
.MoreMenu {
  height: 87px;
  float: left;
}
.MoreMenuButton {
  width: auto;
  height: auto;
}
.nav-list {
  display: list-item;
  text-align: -webkit-match-parent;
  float: left;
}
.nav-list a {
  text-decoration: none;
  display: block;
  padding: 2rem;
  color: white;
  font-size: 20px;
  font-family: Helvetica;
  text-transform: uppercase;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.nav-list a::before {
  content: '';
  width: 150%;
  left: -175%;
  height: 120%;
  top: -10%;
  background: #FF4F00;
  position: absolute;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: -1;
}
.nav-list a:hover::before {
  left: -25%;
}
.nav-list-dropdown {
  display: list-item;
  text-align: -webkit-match-parent;
  float: left;
}
button {
  all: unset;
}
.dropbtn  {
  text-decoration: none;
  display: block;
  padding: 2rem;
  color: white;
  font-size: 20px;
  font-family: Helvetica;
  text-transform: uppercase;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 0;
}
.dropbtn::before {
  content: '';
  width: 150%;
  left: -175%;
  height: 120%;
  top: -10%;
  background: #FF4F00;
  position: absolute;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: -1;
}
.dropbtn:hover::before {
  left: -25%;
}
.dropdown-arkiv {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  overflow: hidden;
  flex-direction: column;
}
.dropdown-animation {
  content: '';
  width: 200%;
  left: -85%;
  height: 120%;
  top: -10%;
  background: #FF4F00;
  position: absolute;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transition: all 0.35s cubic-bezier(.77,.09,.34,.35);
  z-index: 1;
}
.dropdown-animation-white {
  float: right;
  width: 50%;
  height: 100%;
  background: #FFFFFF;
}
.move {
  left: 120%;
}
.dropdown-arkiv a {
  text-decoration: none;
  font: 16px;
  color: #200E00;
  font-family: Helvetica;
  padding: 1rem;
  z-index: 0;
}
.show-block {
  display: block;
}
.show-flex {
  display: flex;
}
