:root {
    font-family: Consolas, monaco, monospace;
}
body { 
   max-width: 960px;
   margin: 5vw auto;
}
h1 {
    font-size: 10vh;
    margin: 0;
}
p {
    font-size: 3vh;
    padding: 0 0 0 3vw;
    margin: auto 0;
}
p.ivrit {
    font-size: 5vh;
    padding: 0 3vw 0 0;
}
.container-ltr {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
}
.container-rtl {
    margin: auto;
    display: flex;
    flex-flow: row-reverse nowrap;
}